# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environment
.env/
.venv/
env/
venv/

# Jupyter Notebook hidden state
.ipynb_checkpoints

# Streamlit specific
.streamlit/

# Model and output files
*.pkl
*.csv

# OS-specific
.DS_Store
Thumbs.db
